[submodule "caddy/hooks/docker_tags"]
	path = caddy/hooks/docker_tags
	url = https://gist.github.com/efrecon/f99172d827b0a9ff7b6dacb41e4723f8
[submodule "caddy/hooks/reg-tags"]
	path = caddy/hooks/reg-tags
	url = https://github.com/efrecon/reg-tags.git
