setuid = stunnel
setgid = stunnel

pid = /var/run/stunnel/stunnel.pid

socket = l:TCP_NODELAY=1
socket = r:TCP_NODELAY=1

debug = ${STUNNEL_DEBUG}
output = ${STUNNEL_LOG}
foreground = yes
client = ${STUNNEL_CLIENT}

[${STUNNEL_SERVICE}]
accept = ${STUNNEL_ACCEPT}
connect = ${STUNNEL_CONNECT}
ciphers = PSK
PSKsecrets = ${STUNNEL_PSK}
